@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

body {
  font-family: "Baloo 2", system-ui, sans-serif;
  background-color: #f4f7ff;
  color: #073b4c;
}

button {
  font-family: inherit;
}

